<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
    
    <title>Document</title>
</head>
<body>
    <header>
        <a>
            【NSB推進】LINE WORKS学習会
        </a>
        <hr class="style1">
    </header>

    <nav>　</nav>
    
    <main>
        <a class="mainHeader">動画</a>
        
        <ul id="video">
            <li v-for="video in videos" :key="video.title">
                <a v-bind:href="video.url">{{ video.title }}</a>
            </li>
        </ul>
        <a class="mainHeader">資料</a>
        <ul id="catalog">
            <li v-for="catalog in catalogs" :key="catalog.title">
                <a v-bind:href="catalog.url">{{ catalog.title }}</a>
            </li>
        </ul>

        <p>ダウンロードはリンク先を右クリックしてファイルを保存してください。</p>
    </main>

    <aside>　</aside>

    <footer>
        <div id="app">
            <p>■checkboxでv-modelを使う</p>
     
            <input type="checkbox" id="checkbox1" v-model="isChecked">
            <label for="checkbox1">プロパティの値：{{isChecked}}</label> 
   </div>


        <p>動画の完了報告・質疑の内容につきましては拠点の推進メンバーにご連絡ください。</p>
        <table id="area" width="300">
            <tr v-for="(value, name) in area" :key="value" align="left">
                <th>{{ name }}</th> <th>{{ value }}</th>
            </tr>
        </table>
    </footer>

</body>
<script src="main.js"></script>
</html>